*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient(to bottom, #192133, #111826);
}

#movies {
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* width: 30%; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

#movies div {
    display: grid;
    margin-bottom: 10%;
    justify-items: center;
}

#navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    background: linear-gradient(to bottom, #192133, #111826);
    color: white;
}

#lhs {
    flex: 4;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#lhs h4 {
    margin-left: 4%;
}

#rhs {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#rhs>a>button{
    padding: 12px;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
#log{
    margin-right: 50px;
    font-size: 20px;
    
}
#log>a{
    color: #fff;
    text-decoration: none;
}
#slider{
    width: 95%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
}
#slider>img{
    width: 100%;
    height: 400px;
}
#latest h2{
    color: #fff;
    margin-top: 20px;
    margin-left: 40px;
}
#Latests{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    width: 95%;
    border: 1px solid red;
    margin: auto;
    margin-top: 20px;
}
#Latests>div{
    width: 100%;
    margin: auto;
    height: auto;

}
#Latests>div>img{
    width: 100%;
}
#bests{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    width: 95%;
    border: 1px solid white;
    margin: auto;
    margin-top: 20px;
}
#bests>div{
    width: 100%;
    margin: auto;
    height: auto;
}
#bests>div>img{
    width: 100%;
}
